<header class="main-header">
    <div class="main-header-top">
        <div class="logo-div">
            <a href="/"><img src="/img/logo-mercado-liebre.svg" class="logo"></a>
        </div>
        <form action="search" method="get" class="search-bar-div">
            <input type="text" id="searchbar" class="search-bar" placeholder="Buscar productos, marcas y más">
            <button type="submit" class="fas fa-search"></button>
        </form>
        <h2 class="copy">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de credito
        </h2>
    </div>
    <div class="main-header-bottom">
        <nav class="main-navbar">
            <ul class="navbar-left">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navbar-right">
                <li><a href="/user/register">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                <li><a href="/user/login">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </div>
</header>