<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/c8112f9d13.js" crossorigin="anonymous"></script>
</head>
<!-- Body -->

<body>
    <!-- header -->
    <header class="main-header">
        <div class="main-header-top">
            <img src="/img/logo-mercado-liebre.svg" class="logo">
            <div class="search-bar"><input type="text" placeholder="Buscar productos, marcas">
                <i class="fas fa-search"></i>
            </div>
            <h2 class="copy">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de credito
            </h2>
        </div>
        <div class="main-header-bottom">
            <nav class="main-navbar">
                <ul class="navbar-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="navbar-right">
                    <li><a href="#">Crea tu cuenta </a><i class="far fa-id-card"></i></li>
                    <li><a href="#">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </ul>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
    </header>
    <!-- Banner -->
    <div>
        <img src="./img/img-home-banner.jpg" alt="banner" class="banner">
    </div>
    <!-- Main -->
    <main class="main-main">
        <!-- seccion ultima visita -->
        <h3 class="titles"> Basado en tu última visita</h3>
        <section class="section">
            <!-- cafetera -->
            <article class="articulos">
                <img src="/img/img-cafetera-moulinex.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$6.770</p>
                        <p class='discount-description'>40% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> Cafetera Moulinex</h5>
                </div>
            </article>  
            <!-- macbook -->
            <article class="articulos">
                <img src="/img/img-macbook-pro-2019.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$230.000</p>
                        <p class='discount-description'>20% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> MacBook Pro 2019</h5>
                </div>
            </article>
            <!-- samsung galaxy -->
            <article class="articulos">
                <img src="/img/img-samsung-galaxy-s10.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$70.500</p>
                        <p class='discount-description'>10% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> Samsung Galaxy S10</h5>
                </div>
            </article>
            <!-- smartTv -->
            <article class="articulos">
                <img src="/img/img-tv-samsung-smart.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$23.200</p>
                        <p class='discount-description'>5% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> SmartTV Samsung 43" </h5>
                </div>
            </article>
        </section>
        <!-- seccion de oferta -->
        <h3 class="titles"> Ofertas</h3>
        <section class="section">
            <article class="articulos">
                <img src="/img/img-cafetera-moulinex.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$6.770</p>
                        <p class='discount-description'>40% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> Cafetera Moulinex</h5>
                </div>
            </article>  
            <!-- macbook -->
            <article class="articulos">
                <img src="/img/img-macbook-pro-2019.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$230.000</p>
                        <p class='discount-description'>20% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> MacBook Pro 2019</h5>
                </div>
            </article>
            <!-- samsung galaxy -->
            <article class="articulos">
                <img src="/img/img-samsung-galaxy-s10.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$70.500</p>
                        <p class='discount-description'>10% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> Samsung Galaxy S10</h5>
                </div>
            </article>
            <!-- smartTv -->
            <article class="articulos">
                <img src="/img/img-tv-samsung-smart.jpg" class="img-art">
                <div class="cuerpo-articulo">
                    <div class="price-discount">
                        <p class="price">$23.200</p>
                        <p class='discount-description'>5% off</p>
                        <div class="shipping"><i class="fas fa-truck"></i>
                        </div>
                    </div>
                    <h5 class='description'> SmartTV Samsung 43" </h5>
                </div>
            </article>
        </section>
    </main>
    <footer class='main-footer'>
        <section class='footer-text'>
            <div class="icono-footer">
                <i class="fas fa-credit-card"></i> </div>
            <h4> Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class='footer-text'>
            <div class="icono-footer">
                <i class="fas fa-gift"></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class='footer-text'>
            <div class="icono-footer">
                <i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
        </ul>
        </section>
    </footer>
</body>

</html>