<!DOCTYPE html>
<html lang="es">
<!-- head -->
<%- include('../partials/head') %>
<!-- Body -->

<body>
    <!-- header -->
    <%- include('../partials/header') %>
    <!-- Registro -->
    <form action="/user/login" method="post" class="form">
        <div class="formulario">
            <!-- <label for="user">Nombre de usuario</label> -->
            <input type="text" name="email" class="form-fields" id="user"  placeholder="Ingres치 tu email" required>
        </div>
        <div class="formulario">
            <!-- <label for="password">Contrase침a</label> -->
            <input type="password" name="password" id="password" class="form-fields"
                placeholder="Ingres치 tu contrase침a" required>
        </div> 
        <div class="formulario">
        <input type="checkbox" name="rememberUser" id="rememberUser"> <label for="rememberUser">Recordar sesion</label>
    </div>
        <div class="botones">
            <button type="submit" class="send-button">Enviar</button>
        </div>
    </form>
<!-- footer -->
<%- include('../partials/footer') %>
</body>

</html>